version: "3.8"
services:
  hamalert:
    container_name: hamalert
    build: .
    environment:
      - HAMALERT_USERNAME=N0CALL
      - HAMALERT_PASSWORD=S53CRET
      - HAMALERT_WEBHOOK_URL=DS3ORD
      - DAPNET_ENABLE=0
      - DAPNET_USER=PA6ER
      - DAPNET_PASSWORD=CY4HER
